*{
   margin:0px;
    padding: 0px;
    box-sizing:border-box; 
}

html {
    scroll-behavior: smooth;
  }
  
body{
	
    font-family:  sans-serif;
    border: none;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
    z-index: 20;
    position: fixed;
    top: 0;
    width: 100%;
    padding-right: 5vw;
}

li {
    float: right;
}

li a {
    display: block;
    color: navy;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.home{
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: purple;
    display: flex;
    flex-direction: row;
}

.home-left{
    width: 50%;
    height: 100%;
}

.home-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
}

.home-right h1{
    color: yellow;
    font-size: 5rem;
}

.home-right h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid MediumSeaGreen; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation: 
    typing 7.0s steps(40, end),
    blink-caret .75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: MediumSeaGreen; }
  
}

.home-left img{
    margin-left:100px;
	object-fit: contain;
	width:90%;
	height:520px;
	margin-top:60px;
}

.about{
    width: 100%;
    padding: 20vh 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;	
}

.about h1{
    text-align: center;
    margin-bottom: 1vh;
	color:Red;
}

.container h1{
	text-align: center;
    margin-bottom: 1vh;
	color:red;
}

.about-text{
    text-align: center;
    font-size: 1.4rem;
	color:green;
}

.skills{
    padding: 10vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
	
}
.skills h1{
    font-size: 2.5rem;
    margin-bottom: 2vh;
	text-align: center;
    color:red;
}

.skills-row{
    display: flex;
    flex-direction:row;
}

.skills-row img{
    height: 150px;
    width: 250px;
    object-fit: contain;
    margin: 1vh 1vw;
}

.underline {
    height: 6px;
    width: 400px;
    background-color:SlateBlue;
    margin-bottom: 4vh;
}

@media (max-width: 1300px) {

    .home-left{
        display: none;
    }

    .home-right h1{
        font-size: 4rem;
    }

    .about{
        padding: 20vh 10vw;
		
    }
	.skills-row{
        display: flex;
        flex-direction:column;
    }
}
    	
.container{
	width: 100%;
    padding: 20vh 20vw;
    padding-top: 5px;
	align-items: center;
	justify-content: center;
	display: flex;
    flex-direction: column;
	
}	

.contact-text img{
    align-items: center;
    justify-content: center;
    object-fit: contain;
    margin: 1vh 1vw;
	
}	
.card{
   margin: 10px;
   color:yellow;
}
.card .card-body{
   margin: 10px;
   background:black;
}

@media only screen and (min-width: 600px) {
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
		color:Green;
    }
}
.row{
	  background:rgba(255,99,71,0.5);
}
 
